---
layout: post
title: Improve Writing skills
categories: Non-technical
date: 2013-07-10
---

<div dir="ltr" style="text-align: left;" trbidi="on">I haven't written anything since a long time. I feel that I will lose the ability to pen down my thoughts in a decent manner. I rarely take time to write, even if it is something ridiculous. So this is the post that is totally irrelevant, topic-less and sheer time-pass, but this is an attempt, after quite a long time, to reinvest my time in writing.<br /><br />Writing is a difficult skill, when you don't know the title of your article. Below are the topics on which I can possible attempt to write something that is worth reading<br /><br /><ol style="text-align: left;"><li><b>Technical article:&nbsp;</b>It can basically involve certain pointers on how to solve a particular problem and the approach taken to do the same</li><li><b>Writing Reviews:&nbsp;</b>&nbsp;I always make time to read something or the other during the course of my day. If I am able to write down main points of the things that I read, and then at the end of it, write something, connect the gaps, it will ultimately, not only help in making me understand the topic in its totality but also I will be able to make a reference point.</li><li><b>Exploring creative potential:</b>&nbsp;This is something, that is quite hard to me to write on presently. Frankly speaking, I haven't tried at writing creative stuff at all. But I think its worth the time, because by doing this, I will be able to exploit a possibly unknown aspect my life</li></ol></div>
