---
layout: post
title: Installing packages from AUR - Archlinux
categories: Technical
date: 2013-04-14
---

<div dir="ltr" style="text-align: left;" trbidi="on"><p>I wanted to install <a href="https://wiki.archlinux.org/index.php/Yaourt">yaourt</a> in my system which has archlinux installed. Yaourt is a nice tool when you want to search through the packages that are not present in the official repository. It is not available in the official repository, so it cannot be installed using pacman. Also the <a href="https://wiki.archlinux.org/index.php/Arch_User_Repository">documentation</a> of AUR provides a nice step by step instructions on how to install packages from AUR. To search for package, visit this <a href="https://aur.archlinux.org/packages">link</a></p><p>Here are the list of steps that should be followed while installing packages from AUR.</p><ul><li>Download the tarball of the PKGBUILD. Extract the tarball when downloading by running <code>$ tar zxvf <i>package_name</i></code>. The storage location of the download will be <i>folder: </i><b>package_name</b></li><li>Download the actual package, The download link of the same will be given on the same page as above. Extract the tarball of the downloaded package. The storage location of the download will be <i>folder: </i><b>package_namev1</b></li><li>Now copy the PKGBUILD file downloaded in the first page to the folder the contains the source package. <code>cp package_name/PKGBUILD package_namev1/</code></li><li>Now go the source package folder and run the commands:  <ul><li><code>$ makepkg</code>(This will create a file named <i>package_namev1.tar.gz</i>, which can directly be installed with pacman)</li><li><code>$ sudo pacman -U <i>package_namev1.tar.gz</i></code></li></ul></li></ul><p>The reason I have listed the above steps even though the AUR page has provided the step by step instructions, is because some of the steps like copying the PKGBUILD to the package source location and then running <code>makepkg</code> is not specified clearly. </p></div>
