---
layout: post
title: The act of questioning
date: 2014-01-14
---

<div dir="ltr" style="text-align: left;" trbidi="on"><span style="font-family: inherit;">Here are the few brief points after discussion with one of the friend of mine. The topic was on what should be the right attitude when you are looking at things, when you are observing things, and when you are making certain conclusions out of it. I will get into the details of the discussion some other time, but below are few important points that came out of our talk:</span><br /><span style="font-family: inherit;"><br /></span><br /><div style="border: 0px; line-height: 1.428571em; margin: 0px; padding: 0px;"><span style="line-height: 1.428571em;"><span style="font-family: inherit;">1. Know the how and why of things before arriving at any conclusion</span></span></div><div style="border: 0px; line-height: 1.428571em; margin: 0px; padding: 0px;"><span style="font-family: inherit;">2. Always be curious to know why a certain thing happened instead of brooding over the results</span></div><div style="border: 0px; line-height: 1.428571em; margin: 0px; padding: 0px;"><span style="font-family: inherit;">3. The act of educating ourselves should result in us questioning every norm and every idea that is being followed.</span></div><div><br /></div></div>
